body{
	background-color: black;
 	color: white;
}
html body section{
    width: 100%;
    height: 100%;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
img {
    width: 100%;
    max-height: 100%;
}
h1, h2 {
    text-transform: uppercase;
    margin: 0 0 35px;
    font-weight: 700;
    letter-spacing: 1px;
    
}
p {
    margin: 0 0 35px;
    line-height: 1.O;
}
hr {
    display: block;
    clear: both;
    height: 0;
    padding: 0;
    font-family: arial;
    text-align: center;
    line-height: 1;
}


@media (min-width: 768px){
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}
#about p {
    color: white;
}

/*******************/
/******navTheme*****/
/*******************/

#nav_v2 {
    display: none;
}

#nav, #nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.nav2 {
    margin: 0 auto;
    text-align: center;
}
#nav {
    margin-top: 10%;
    background-color: transparent;
    height: 22px;
    padding: 10px 0 10px 5px;
    position: relative;
    letter-spacing: 1px;
}
#nav > li {
    float: left;
    height: 22px;
    padding-right: 6px;
    position: relative;
    text-align: left;
}
#nav > li > a {
    border: 1px solid transparent;
    color: #FFFFFF;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    margin: -3px 0 0 -1px;
    padding: 0 1px 0 11px;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
}
#nav > li:hover > a, #nav > a:hover {
    background-color: black;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    margin-right: -8px;
    padding: 0 9px 0 11px;
    position: relative;
    z-index: 1;
}
#nav > li.subs:hover > a {
    background-color: #FFFFFF;
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-bottom-width: 0;
    border-radius: 2px 2px 0 0;
    color: #000000;
    text-shadow: 0 0 transparent;
    z-index: 2;
}
#nav > li:after {
    background-color: #405791;
    content: "";
    height: 17px;
    left: 1px;
    position: absolute;
    top: 2px;
    width: 1px;
}
#nav > li:first-child:after {
    background-color: transparent;
}
#nav ul {
    background-color: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    display: none;
    left: -1px;
    margin-top: 2px;
    min-width: 200px;
    padding: 6px 0;
    position: absolute;
    top: 100%;
    z-index: 1;
}
#nav li:hover ul {
    display: block;
}
#nav ul li a {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    color: #232B37;
    display: block;
    font-size: 12px;
    line-height: 20px;
    padding: 0 22px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#nav ul li a:hover {
    background-color: #6D84B4;
    border-bottom: 1px solid #3B5998;
    border-top: 1px solid #3B5998;
    color: #FFFFFF;
}
@media all and (max-width : 480px) {
    #nav {
        display: none;
    }
    #nav_v2 {
        margin-top: 9vh;
        background-color: transparent;
        border-color: transparent;
        color: #FFFFFF;
        cursor: pointer;
        display: block;
        margin-bottom: 30px;
        padding: 6px;
        width: 100%;
        }
    #nav_v2 select {
        color: #FFFFFF;
        cursor: pointer;
    }
}

/*******************/
/******CONTENU******/
/*******************/

.wrapper {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.activated {
  background-color: black;
}

/*******************/
/******FOOTER*******/
/*******************/

footer{
	background: black;
	text-align: center;
    position: relative;
    bottom: 0;
    z-index: 0;
    width: 100%;
}


.cgu {
    position: absolute;
    z-index: 1000;
    background-color: white;
    bottom: 100px;
    height: 78vh;
    width: 99vw;
    font-size: 0.5rem;
    color: black;
    text-align: left;
    overflow-y:scroll;
}
.cgu p {
    font-size: 1.2rem;
}
.cgu h2 {
    font-size: 2rem;
}
.cgu h3 {
    font-size: 1.8rem;
}