/***********************/
/***SECTION FONDATEUR***/
/***********************/
.mar0A {
	margin: 0 auto;
}



#fondateur{
	background: url("../img/background/s2.jpg") bottom center no-repeat #000;
	width: 100%;
    text-align: center;
    background-size: cover;
}

#foundingTitle
{
	padding-top: 3%;
}


.foundingContainer{
width:100%;
}


.fontWhite
{
	color: white;
}

.copyright
 {
	font-weight: 30px;
 }

.foundingPhoto{
	width: 200px;
	height: 200px;
}


.socialNetwork{
	padding-bottom: 4%;
}

.socialNetwork i:hover { color: blue;

}
.foundingPosition p {
	font-size: 1.5rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

/******************************/
/***CSS BLOG***/
/*****************************/

.blogBackground{
	background-image: url(../img/background/bg_blog1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
}


		/*******************************/
		/***CSS ARTICLE BLOG MIMIFIER***/
		/*******************************/

/*aside list*/

#asideList{

overflow-y: scroll;
height: 80vh;

}


/*article mimifié*/

.articleMim{

width: 23.5vw;
overflow: hidden;
height: 12vw;

}

.articleMim img{

width: 10vw;
height: 10vw;
float: left;
margin: 3px;
	

}

.articleMim div h3{
font-size: 1vw;
}

.articleMim div p{
font-size: 0.9vw;

}



		/****************************/
		/***CSS ARTICLE EN LECTURE***/
		/****************************/








